@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.font-lexend-deca {
  font-family: var(--font-lexend-deca), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-radley {
  font-family: var(--font-radley), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@keyframes gleam {
  0%, 100% { transform: scale(1); }
  40% { transform: scale(1.05); }
  60% { transform: scale(1.05); }
}

@keyframes gleamOpacity {
  0%, 100% { opacity: 0; }
  35% { opacity: 0.6; }
  65% { opacity: 0.6; }
}

@keyframes gleamFilledOpacity {
  0%, 100% { opacity: 0; }
  35% { opacity: 1; }
  65% { opacity: 1; }
}